<nav class=" h-16 border border-b-purple-300 flex items-center justify-between px-8">
  <img class="w-12 h-12 object-cover" src="https://res.cloudinary.com/dbpegbhm4/image/upload/v1769117780/logowoslutions_mppoyz.png" alt="">
  <div>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
    </ul>
  </div>
  <div>
    <button class="inline-flex items-center rounded-md border border-border bg-transparent px-6 py-3 text-foreground hover:bg-purple-200 transitio">
      Agendar Cita
    </button>
  </div>
</nav>
